@charset "UTF-8";
@import './variables.css';

/*Reset & root*/
html {
    box-sizing: content-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    --aspect: 3/4;
    --card-asset: url('./assets/decks/set_1.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, button {
    /* appearance: none;
    background: none;
    border: none; */
    cursor: pointer;
}

html {
    overflow: hidden;
    --c2: rgb(166, 166, 166);
    --bg: #1e1e1e;
    --bg2: #3c3d3f;
    --bg3: #292929;
    --text: #abb2bf;
}

html.dark {
    --bg: #f4f4f5;
    --bg2: #d6d7db;
    --bg3: #c7c7c7;
    --text: #383a42;
}

body, button, input, textarea, a {
    color: var(--text);
    font-family: var(--font-main);
}

html, body {
    background: var(--bg);
    font-size: 18px;
    line-height: 1;
}