.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100vh;
}

.title {
    font-size: clamp(2em, 11vw, 4em);
    text-shadow: 0px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.torch {
    position: relative;
    top: -2px;
    --w: 128px;
    aspect-ratio: 1/1;
    width: var(--w);
    background-image: url('./assets/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: torch-flame 0.6s steps(4) infinite;
    image-rendering: -moz-crisp-edges;   /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: pixelated;
}

@keyframes torch-flame {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1*var(--w)*4) 0; /* 21px * 4 frames */
  }
}

.darkness {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .9); 
    z-index: 1;
    pointer-events: none; /* permite clique nos elementos abaixo */
    mix-blend-mode: multiply;
}

.light {
    aspect-ratio: 1/1;
    /* width: 350px; */
    width: 0;
    border-radius: 50%;
    box-shadow: 0 0 150px 100px white;
    /* background: radial-gradient(circle, rgba(255,255,200,1) 0%, rgba(0,0,0,0) 70%); */
    /* background: url('./assets/light.png'); */
    background-size: cover;
    mix-blend-mode: screen;
    /* outline: 2px solid white; */
    /* filter: blur(10px); */
    filter: none;
    animation: flicker 1.5s infinite ease-in-out;
}

@keyframes flicker {
  0%   { opacity: 0.9; transform:  translate(-50%, -60%); }
  5%   { opacity: 0.5; transform:  translate(-50%, -60%); }
  10%  { opacity: 0.8; transform:  translate(-50%, -60%); }
  15%  { opacity: 0.6; transform:  translate(-50%, -60%); }
  25%  { opacity: 0.95; transform:  translate(-50%, -60%); }
  40%  { opacity: 0.7; transform:  translate(-50%, -60%); }
  50%  { opacity: 1; transform:  translate(-50%, -60%); }
  65%  { opacity: 0.6; transform:  translate(-50%, -60%); }
  75%  { opacity: 0.85; transform:  translate(-50%, -60%); }
  90%  { opacity: 0.7; transform:  translate(-50%, -60%); }
  100% { opacity: 0.95; transform:  translate(-50%, -60%); }
}


/*  */

.home-content {
    --min : min(18vw, 120px);
    display: flex;
    flex-direction: row;
    gap: 1em;
    z-index: 2;
}

.bttns-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.bttn {
    width: 250px;
    background-image: url('./assets/bttn-lg.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--text);
    font-size: 1.2em;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in;
    /* text-transform: uppercase; */
}

.bttn.md {
    background-image: url('./assets/bttn-md.png');
}

.bttn.auto {
    width: auto;
}

.bttn:disabled {
    opacity: 0.5;
    cursor: auto;
}

.bttn:enabled:hover {
    transform: scale(1.05);
}

/* SVG */

.svg-footer {
    --size: 2rem;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
}

/* Footer */

.home-footer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    font-size: inherit;
    gap: .75rem;
    bottom: 20px;
    right: 20px;
    z-index: 400;
}

@media (max-width: 600px) {
    .svg-footer {
        --size: 1.5rem;
    }
}

.home-footer > * {
    opacity: 1;
    transition: all .2s ease;
}

.home-footer a:hover, .home-footer button:hover {
    opacity: 0.8;
}

.button-footer {
    display: flex;
}

/* CAROUSEL */

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-name {
    font-size: 1.5em;
}

.carousel-card--wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.carousel .card:hover .flip {
    transform: rotateY(180deg);
}