.ReactModalPortal {
  height: 100vh;
  width: 100vw;
}

/* Overlay padrão */
.ReactModal__Overlay {
  --delay: 600ms;
  opacity: 0;
  /* font-size: 1.5em; */
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.9);
  z-index: 500;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay:has(> .delay), .ReactModal__Content:has(.delay) {
    transition-delay: var(--delay);
}

/* Quando o modal é aberto */
.ReactModal__Overlay--after-open {
  opacity: 1;
}

/* Quando o modal está fechando */
.ReactModal__Overlay--before-close {
  opacity: 0;
  transition-delay: 0ms; /* sem delay ao fechar */
}

/* Conteúdo do modal */
.ReactModal__Content {
    background: transparent;
    border: none;
    outline: none;
    max-width: 400px;
    font-size: 1.2em;
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(-100px);
    opacity: 0;
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

/* Animação ao abrir */
.ReactModal__Content--after-open {
  transform: translateY(0);
  opacity: 1;
}

/* Animação ao fechar */
.ReactModal__Content--before-close {
  transform: translateY(-20px);
  opacity: 0;
  transition-delay: 0ms;
}

/* Estilo das partes do modal */
.modal-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.modal-content {
  max-height: 80vh;
  background-color: var(--c2);
  border-radius: 12px;
  padding: 1em;
  width: 100%;
  overflow-y: auto;
  
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.modal-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 100%;
  margin-top: .5rem;
  gap: .2rem;
}

.modal-bttn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
  background-color: var(--c2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: .6em 1em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.game-over-stats--container {
  display: flex;
  flex-direction: column;
  gap: .2em;
  margin-top: 1em;
}

.game-over-stats {
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: .7em;
  font-weight: bold;
  gap: .5em;
}

.game-over-stats--total {
  position: relative;
}

.game-over-stats--total::before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
  height: 3px;
  width: 2em;
  border-radius: 5px;
  background-color: var(--text);
}

.game-over-stats--value {
  font-weight: bold;
  font-family: var(--font-terc);
}

.total {
  font-weight: bold;
}

.win .add,  .win .game-over-stats--total {
  color: rgb(59, 126, 59);
}

.game-over .add, .game-over .game-over-stats--total{
  color: rgb(163, 70, 70);
}